.App {
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin-left: 150px;
  margin-right: 150px;
}


.App-header {
  align-items: center;
  justify-content: center;
}


